.heading { padding-right:20px;padding-left:5px; font-size:1.5em; font-weight:1000; color:rgba(0,0,0,0.1); }
.heading:hover { color:rgba(0,0,0,.8); }
.prev-link:hover, .next-link:hover, .next-link:hover a, .prev-link a:hover { text-decoration: none; }
.prev-link { position: fixed; left:5px; transform-origin: 0 100%; transform: rotate(90deg); }
.prev-chapter .icon-passage-previous { height:0; width:0; position: fixed; left:-1.5em; top:50%; line-height:0; height:0; width:0; content: " "; box-sizing:inherit; 
border:3em solid transparent; border-right: 2em solid rgba(0,0,0,0.1);}
.prev-chapter .icon-passage-previous:hover { border-right: 2em solid rgba(0,0,0,0.8);}
.next-link { position: fixed; right:5px; transform-origin: 100% 100%; transform: rotate(-90deg); }
.passage-main { padding-left: 5px; padding-right:5px; }

.next-chapter .icon-passage-next { height:0; width:0; position:fixed; right:-1.5em; top:50%; line-height:0; height:0; width:0; box-sizing:inherit; content: ""; 
border:3em solid transparent; border-left: 2em solid rgba(0,0,0,0.1);}
.next-chapter .icon-passage-next:hover { border-left: 2em solid rgba(0,0,0,0.8);}
.gohome { position: fixed; right:5%; max-width:25%; }
.book { min-width:11em; white-space: nowrap; text-align:center; border: 2px solid rgba(0,0,0,0.4); background:rgba(0,0,0,0.1); border-radius: 5px; margin: 3px; padding: 3px 15px; }

a.book { font-size:1.25em; font-weight:500; color:rgba(0,0,0,0.8); }
a.book:hover { text-decoration:none; }
.passage-bar { display:none; }

@media (max-width:1075px and max-height:2000px) {
  .book { padding: 15px; }
  [class*="col-"] {
        width:100%;
        min-width: 100%; }
a.book { font-size:2.25em; font-weight:500; }
p { margin-left:0.5em; margin-right:0.5em; }
.next-chapter, .icon-passage-next, .prev-chapter, .icon-passage-previous, .gohome { display:none; }
}

h1  { font-size:2.0em; font-weight:1000; }
.chapternum { font-size:1.5em; font-weight:1000; }
h1.passage-display .passage-display-version { font-size:.80em; font-weight:500; rgba(50,50,0,0.6); max-width:50%;}
h2 { font-size:1.5em; font-weight:800; }
h3 { font-size:1.0em; font-weight:1000; }
h4 { font-size:1.0em; font-weight:800; }

