.button{padding:20px;margin:10px;min-width:150px;color:grey;text-decoration:none;border-radius: 25px 25px 25px 0;text-align:center; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 1.5rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background:rgba(220,220,220,0.3);
border:1px solid rgba(220,220,220,0.6);}
.button:hover{color: blue; background:grey; text-decoration:none; }
.button:hover a{color: blue; background:grey; text-decoration:none; }
.button a{text-decoration:none; color:grey;}
.mytile{ min-width:300; max-width:300; padding:10px; margin:15px 1px;}
.mytile:hover{border:1px solid gray;border-radius:25px 25px 25px 0;margin:14px 0;}
.title{padding:20px;margin:10px;}
.actitle{text-decoration:none; color:grey; padding:20px; border-radius:25px 25px 25px 0; width:30%; white-space:nowrap; background:rgba(220,220,220,0.3); margin:5px; border:1px solid rgba(220,220,220,0.6);}
.actitle:hover{cursor: pointer; color: blue; background:grey; text-decoration:none; }
.accontent{padding:0 20px 20px 20px; width:100%;}
.myactive{width:100%}
img{border-radius:25px;}
