
.whole_menu {  white-space: nowrap; }
.whole_menu a { text-decoration:none; }
.whole_menu a:hover { color:White; } 

.my_hover { padding:12px; transition:0.4s; text-align:center;}
.my_hover:hover{ color: white; background-color: #111111; border-radius: 10px; }
.my_hover:hover .dropdown{ display: block; }
.my_hover a {display:block;}

.parent:hover { border-radius: 10px 10px 0px 0px; }
.parent a:hover { border-radius: 10px 10px 0px 0px; }

.dropdown { display: none; background-color: #f1f1f1; opacity: 0.9; filter: alpha(opacity=90); width: 130px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); border-radius: 0px 10px 10px 10px;  text-align: left; white-space: normal; position:fixed;  z-index: 9999; margin-top:12px; margin-left:-12px; }
.dropdown:hover { opacity: 1; filter: alpha(opacity=100); display: block; border-radius: 10px; }
.dropdown:hover a { display: block;  }
.dropdown a:hover { display: block; color: white; background-color: #111111; border-radius: 5px; }
.dropdown a { color: Black; padding:12px; }

@media (max-width:767px){
.logo{float:none;margin:0;display:block;text-align:center;display:block;visibility:visible;-webkit-transform:scale(0.75);-moz-transform:scale(0.75);-ms-transform:scale(0.75);-o-transform:scale(0.75);transform:scale(0.75);}
.site-name,.site-slogan {text-align:center;display:block; visibility:visible;padding:5px 0 0 0;}
.site-name, .header-first {margin:0;}
.block-views-blockteam-block-1 div{min-width:200px;}
}
@media (max-width:560px){
.odd{ margin:0; padding: 0; }
.odd .col-sm-auto{ line-height:0; }
.dropdown { margin 0 aut0; right:0%; }
}

@media (max-width:400px){
.owl-picture {width:100%;}
}

.cme-button{
width: 28px;
height: 28px;
}

.content-top__section {padding-top:20px;}
.cont { display: block; font-size: 100%; width: 100%;}
.atorg { display: block; flex-grow: 1; }
.doctitle { background-color: #f1f1f1; color: #111111; cursor: pointer; padding: 18px; width: 100%; text-align: left; border: none; outline: none; transition: 0.4s; font-size: 1.5em; margin: 5px; border-radius: 3px;}
.myactive, .doctitle:hover { background-color: #373737; color: #f1f1f1; }
.atcontent { display: none; padding: 5px; padding-bottom: 15px;}
.atcontent > a { text-decoration: none; font-size: 1.0em; padding: 5px; }
.atcontent a:before { content: '\025E6  '; }
.doctitle::after { content: '\02795';  font-size: 16px; color: #777; float: right; margin: 5px; }
.myactive::after { content: '\02796'; }
.atcontent > a:hover { color: #0000ee; font-size: 1.05em;}
h2.title, h5 {padding-left:10px;}

