	html, body { height: 100%; margin: 0;btn-primary }
	#content { padding: 10px; }
	#text { padding: 10px 30px; }
        #buttons { padding: 5px; }
        .showbutton { padding: 0px 12px; margin-top: -1.0em; transition: 1.0s }
        .showbutton:hover { height: 2.5em; margin-top: 0em; transition: 1.0s }
	textarea { width: inherit; }
	#source { width: 100% }
