/*
	  Final Project- Sinclair Zoo

      Basic CSS Styles 
      By: Annika Harris
      Started: April 9, 2021
      Completed: 

*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');

/* Header and Banner */
header {
   width: 100%;
}

#banner {
   background-color:  #2d2d2d;
   font-family: 'Josefin Slab';
   padding: 45px;
   background: url(../Media/Lemur.jpeg) no-repeat; 
   background-size: cover; 
   height: 100%;
   position: relative;
   text-align: left;
   background-position: right;
}

#banner h1 {
   color: #c75205;
   font-size: 65px;
   align: left;
   font: 25px;
}

/* Fonts and Headings */
h1, h2, h3, h4, h5, h6 {
   font-family: 'Josefin Slab';
   color: #c75205;
   font-size: 30px;
}

/* Navigation Styles */
nav li {
   float: left;
   width: 20%;
   list-style-type: none;
   background-color: gray;
}

nav a{
   float: center;
   width: 100%;
   text-align: center;
   display: block;
   padding: 10px;
   font-size: 15px;
}

nav a:hover{
   background-color: #2d2d2d;
   color: gray;
}

/* Images */
img {
   padding: 10px;
   display: block;
   width: 500px;
   padding-bottom: 0px;
}

/* Layout */
.left {
   float: left;
}

.right {
   float: right;
}

#sideArticle {
    width: 60%;
}

#sideArticleWide {
   width: 68%;
   padding-left: 15px;
}

fig figcaption {
   padding-left: 10px;
   padding-top: 0px;
   font-size: 75%;
}

/* Footer */
.footer {
   background-color: grey;
   position: relative;
   top: 95%;
   left: 0;
   bottom: 0;
   width: 100%;
   padding-bottom: 0px;
}

footer * {
  float: left;
  width: 15%;
  display: block;
  text-align: center;
  padding: 5px;
  padding-left: 25px;
  margin-top: 10px;
}

address {
   margin-left: 150px;
}

.socail {
   width: 50px;
   border-radius: 50px 50px 50px 50px;
   padding: 0px;
   margin: 5px 5px 5px 50px;
}

/* Articles and fonts */
article p {
   padding-top: 10px;
   font-size: 125%;
   width: 50%;
   padding-left: 0px;
}

/* --------------------------------
Styles for on a mobile device 
-------------------------------- */

@media only screen and (max-width: 1200px) {
   /* Header and Banner */
header {
   width: 100%;
}

#banner {
   background-color:  #2d2d2d;
   font-family: 'Josefin Slab';
   padding: 35px;
   background: url(../Media/Lemur.jpeg) no-repeat; 
   background-size: cover; 
   height: 100%;
   position: relative;
   text-align: left;
   background-position: right;
}

/* Navigation Styles */
nav {
  overflow: hidden;
  background-color: grey;
}

nav li {
   float: left;
   width: auto;
   list-style-type: none;
   background-color: gray;
}

nav a{
   float: center;
   text-align: center;
   display: block;
   padding: 18px;
   font-size: 15px;
}

nav a:hover{
   background-color: #2d2d2d;
   color: gray;
   width: 100%;
}

/* Images */
img {
   padding: 10px;
   display: block;
   width: 100%;
   padding-bottom: 0px;
}

/* Layout */
.left {
   float: none;
   padding-left: auto;
   padding-right: auto;
}

.right {
   float: none;
   padding-left: auto;
   padding-right: auto;
}

#sideArticle {
    width: 100%;
    padding: 10px;
}

#sideArticleWide {
   width: 100%;
   padding: 10px;
}

fig figcaption {
   padding-left: 10px;
   padding-top: 0px;
   font-size: 75%;
}

/* Footer */
.footer {
   background-color: grey;
   position: relative;
   top: 95%;
   left: 0;
   bottom: 0;
   width: 100%;
   padding-bottom: 0px;
}

footer * {
  float: left;
  width: 20%;
  display: block;
  text-align: center;
  padding: 10px;
  padding-left: 0px;
  margin-top: 0px;
}

address {
   margin-left: 10px;
}

.socail {
   width: 30px;
   border-radius: 25px 25px 25px 25px;
   padding: 0px;
   margin: 5px 5px 5px 25px;
}

/* Articles and fonts */
article p {
   padding-top: 10px;
   font-size: 125%;
   width: 50%;
   padding-left: 0px;
}

}

