/*
	  Final Project- Sinclair Zoo

      CSS Styles for the Donate Page
      By: Annika Harris
      Started: April 16, 2021
      Completed: 

*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import "../CSS/basic.css";

/* Donate bar styles */
.progress {
   margin: 20px;
   width: 15%;
   margin-bottom: 0px;
   border: 1px solid grey;
}

label {
   font-size: 15px;
   margin-top: 0px;
   margin: 20px;
   margin-left: 30px;
}

/* --------------------------------
Styles for on a mobile device 
-------------------------------- */

@media only screen and (max-width: 1200px) {
   .progress{
      width: 90%;
   }
}
