/*
	  Final Project- Sinclair Zoo

      CSS Styles for the Donate Page
      By: Annika Harris
      Started: April 16, 2021
      Completed: 

*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import "../CSS/basic.css";

img {
   width: 400px;

}

h1 {
   padding-top: 50px;
}

/* --------------------------------
Styles for on a tablet 
-------------------------------- */

@media only screen and (max-width: 1200px) {
   img {
      width: 25%;
   }

   sideArticleWide {
      width: 75% !important;
   }
}

/* --------------------------------
Styles for on a mobile device 
-------------------------------- */

@media only screen and (max-width: 1200px) {

   img {
      width: 100%;
   }

   h1{
      padding: 10px;
      padding-top: 15px;
      padding-bottom: 0px;
   }
 
}