/*
	  Final Project- Sinclair Zoo

      CSS Styles specific to the We're Hiring page
      By: Annika Harris
      Started: April 13, 2021
      Completed: 

*/

/* Imported Styles and Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import "../CSS/basic.css";

/* Styles for the 'bubble' divs highlighting benefits of working at the sinclair zoo */
.bubble {
   background-color: #c75205; 
   width: 25%;
   float: left;
   padding: 5px;
   margin: 15px; 
   margin-left: 70px;
   border-radius: 10px;
}

.bubble h1 {
   color: black;
   text-align: center;
}

/* Styles for the job appliction form */
form {
   margin-top: 110px;
   position: relative;
   border-radius: 5px;
}

fieldset {
   border: 1px solid dimgrey;
   border-radius: 5px;
   margin: 20px;
   margin-left: 75px;
   float: left;
}

fieldset * {
   margin: 5px;
}

#workL{
   margin-left: 20px;
}

#buttons *{
   padding: 10px;
   margin: 10px;
   float: center;
   padding-top: 10px;
   margin-left: 80px;
   background-color: #c75205;
   font-size: 25px;
   font-family: Josefin Slab;
   border-radius: 10px;
   outline: none;
   border: 2px solid #813503;
}

#buttons *:hover{
   background-color:dimgrey;
   border: 2.5px solid black;
}

/* --------------------------------
Styles for on a mobile device 
-------------------------------- */

@media only screen and (max-width: 1200px) {

/* Styles for the 'bubble' divs highlighting benefits of working at the sinclair zoo */
   .bubble {
      background-color: #c75205; 
      width: 95%;
      border-radius: 10px;
      margin: 10px;
   }
   
/* Styles for the job appliction form */
   form {
      margin-top: 110px;
      position: relative;
      border:none;
      border-radius: 5px;
   }

   fieldset {
      border: 1px solid dimgrey;
      border-radius: 5px;
      padding-left: auto;
      padding-right: auto;
   }
   
}