/*
	  Final Project- Sinclair Zoo

      CSS Styles specific to the Our Mission page
      By: Annika Harris
      Started: April 15, 2021
      Completed: 

*/

/* Imported Styles and Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import "../CSS/basic.css";

/* Aside */
aside {
   background-color:  #c75205;
   float: right;
   width:25%;
   right: 5px;
   bottom: 0;
   top: 240px;
   height: 75%;
   position: fixed;
   border-radius: 10px;
}

aside h1 {
   color: black;
   text-align: center;
   padding: 10px;
}

aside * {
   text-align: center;
   margin: 10px;
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 5px;
}

blockquote {
   padding: 10px;
}

/* Additional styles */ 
.body * {
   margin: 0px;
}

iframe{
   padding-top: 15px;
   padding-left: 55px;
   width: 790px;
   height: 444px;
}

.pic {
   float: left;
   padding-left: 0px;
}

h1 {
   padding-top: 25px;
}

article {
   padding-left: 15px;
}

article p {
   width: 75%;
}

.list li {
   padding: 5px;
}

/* --------------------------------
Styles for on a mobile device 
-------------------------------- */

@media only screen and (max-width: 1200px) { 
   aside{
      display: none;
   }

   .body *{
      width: 100%;
      padding: 5px;
   }

   iframe{
      padding-top: 15px;
      padding: 10px;
      width: 95%;
      height: 334px;
   }
}