/*
	  Final Project- Sinclair Zoo

      Reset CSS
      By: Annika Harris
      Started: April 9, 2021
      Completed: 

*/

* {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul,
table, tr, td, th, col, colgroup {
   margin: 0;
   padding: 0px;
   border: 0;
   font-size: 100%;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}

li {
   list-style-type: none;
}

