/*
	  Final Project- Sinclair Zoo

      Basic CSS Styles 
      By: Annika Harris
      Started: April 9, 2021
      Completed: 

*/

/* Imported Styles and Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import "../CSS/basic.css";

/* Aside */
aside {
   background-color:  #c75205;
   float: right;
   width:25%;
   right:0;
   bottom: 0;
   height: 70%;
   position: fixed;
   border-radius: 10px;
}

aside h1 {
   color: black;
   text-align: center;
   padding: 10px;
}

aside li {
   list-style-type: decimal;
}

aside * {
   text-align: center;
   margin: 10px;
   margin-left: 15px;
   margin-right: 5px;
}

.visit {
   width: 75%;
   display: block;
   margin: 10px;
   padding-top: 15px;
}

.visit * {
   padding: 5px;
}

/* Table styles */

table {
   border: 1px solid black;
   border-collapse: collapse;
   margin: 15px;
   background: lightgrey;
}

th {
   padding: 5px;
   text-align: center;
   border: 1px solid black;
   border-collapse: collapse;
   background: grey;
}

td {
   padding: 5px;
   text-align: center;
   border: 1px solid black;
   border-collapse: collapse;
}

/* --------------------------------
Styles for on a mobile device 
-------------------------------- */

@media only screen and (max-width: 1200px) { 
   aside{
      width: 100%;
      height: 25%;
      position: relative;
   }

   .visit {
      width: 100%;
      padding-top: 10px;
   }
}