@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 8th Edition
   Tutorial 8
   Tutorial Case

   Cinema Penguin Styles for Media
   Author: Annika Harris 
   Date: March 22, 2021  

   Filename: cp_media.css

*/

/* Audio and Video Player Styles */
audio, video {
    filter: drop-shadow(8px 8px 15px rgb(51, 51, 51));
    display: block;
    margin: 10px auto;
    width: 90%;
}

/* Track Styles */
::cue {
    background: rgba(0, 0, 0, 0.3);
    color: orange;
    font: 1.2em serif;
}

::cue(.main) {
    text-shadow: black 3px 3px 0px;
    font: 2.5em serif;
}

